<a href="<%= post_url(@post) %>"><< <%= @post.title %></a>
<br>
<h1>Edit Comment</h1>
<form action="<%= edit_post_comment_url(@post, @comment) %>" method="post">
  <%= form_auth_token %>
  <%= render "partials/comment_form", action: :edit,
                                      comment: @comment,
                                      post_id: @post.id %>
  <button>Submit</button>
</form>
