<%= comment_nav(@comment) %>

<br>
<br>
<form action="<%= post_comments_url(@comment.post) %>" method="post">
  <%= form_auth_token %>
  <%= render "partials/comment_form", comment: Comment.new,
                                    action: :reply,
                                    parent_id: @comment.id,
                                    post_id: @comment.post_id%>
</form>
<br>
<% if current_user == @comment.author  %>
  <%= delete_button(post_comment_url(@comment.post_id, @comment), "Remove Comment") %>
<% end %>

<%= render "partials/comment", comment: @comment, comment_hash: @comment_hash %>
