<p><b><%= comment.author.user_name %></b>,
  <i><%= formatted_date(comment.updated_at) %></i>
  <% if current_user == comment.author %>
    <a href="<%= edit_post_comment_url(comment.post_id, comment) %>">edit</a>
  <% end %>
  <a href="<%= post_comment_url(comment.post_id, comment) %>">view</a>
</p>

<p><%= comment.content %></p>

<ul>
  <% comment_hash[comment.id].each do |child_comment| %>
    <li><%= render "partials/comment", comment: child_comment, comment_hash: comment_hash %></li>
  <% end %>
</ul>
<!-- <hr> -->
