<p><b><%= comment.author.user_name %></b>,
  <i><%= formatted_date(comment.updated_at) %></i>
  <% if current_user == comment.author %>
    <a href="<%= edit_post_comment_url(comment.post, comment) %>">edit</a>
  <% end %>
  <a href="<%= post_comment_url(comment.post, comment) %>">view</a>
</p>

<p><%= comment.content %></p>

<ul>
  <% comment.child_comments.each do |child| %>
    <li><%= render "partials/comment", comment: child %></li>
  <% end %>
</ul>
<!-- <hr> -->
