<h1> <%= @sub.title %> </h1>

<a href="<%= edit_sub_url(@sub) %>">Edit sub</a>

<h3>Posts</h3>

<ul>


<% @sub.posts.each do |post| %>

  <li>
    <a href="<%= post_url(post) %>"><%= post.title %></a>
    by: <%= post.author.user_name %>
  </li>
<% end %>

</ul>
