<a href="<%= root_url %>"><< HOME</a>
<ul>
  <% @post.subs.each do |sub| %>
  <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>

<h1> <%= @post.title %></a> </h1>

<% if current_user == @post.author %>
  <a href="<%= edit_post_url(@post) %>">Edit post</a>
<% end %>
<br>
<br>
<form action="<%= post_comments_url(@post) %>" method="post">
  <%= form_auth_token %>
  <%= render "partials/comment_form", action: :new,
                                      comment: Comment.new,
                                      post_id: @post.id %>

</form>

<% @post.comments.each do |comment| %>
  <% if comment.parent_comment_id.nil? %>
    <%= render "partials/comment", comment: comment %>
  <% end %>
<% end %>
